<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style_search.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Explore 🔎</title>
</head>

<body>
    <div class="wrapper">
    <div id="search-container">
        <form action="/search/" method="post">
            <div class="input-wrap">
                <input type="search" name="searchInput" id="search-input" placeholder="Search topics or people"/>
                <button id="search"></i>
                  <svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.9413 20.7926H19.0023C22.313 20.7926 25 18.1056 25 14.7948V6.99775C25 3.68699 22.313 1 19.0023 1H10.9413C9.2499 1 7.64251 1.70773 6.50293 2.96726L2.26852 7.62151C0.577159 9.48082 0.577159 12.3118 2.26852 14.1711L6.50293 18.8253C7.64251 20.0848 9.2499 20.7926 10.9413 20.7926Z" stroke="#8083FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <g opacity="0.5">
                    <path d="M17.8037 13.8595L11.8779 7.93372" stroke="#8083FF" stroke-width="2" stroke-linecap="round"/>
                    <path d="M11.8779 13.8595L17.8037 7.93372" stroke="#8083FF" stroke-width="2" stroke-linecap="round"/>
                    </g>
                    </svg>
                    
                  </button>
              </div>              
        </form>
    </div>
    

    <h1>Filters</h1>
    <div id="tag-buttons">
      <% tags.forEach(tag => { %>
          <div class="tag-wrapper"> 
              <a href="/search/tag/<%=tag.id%>" class="button-value">
                  <div class="tag-container">  
                      <img src="<%=tag.imageUrl%>">
                  </div>
              </a>
              <span class="tag-name"><%=tag.tagName%></span>
          </div>
      <% }) %>
  </div>  
      
   <h2>You are following ... </h2>

   <div id="user-cards" data-user-card-container>
    <% data.forEach(following => { %>
      <a href="/profile/<%=following.id%>">
        <div class="card">
          <img src="<%=following.profileImg %>" style="z-index: 0;  margin-top: 3vh;  width: 6.5vh; height: auto;"  class="user-picture"></a>
          <div class="followers-username"><%=following.username%></div>
      </div>
      </a>
        
    <% }) %>
    <div class="navbar">
        <a href="/feeds/home">
          <img
            src="../styles/images/home_icon_noBackground2.png"
            alt="Home"
            width="50"
            height="50"
          />
        </a>
        <a href="/search/">
          <img
            src="../styles/images/search_icon_noBackground2.png"
            alt="Search"
            width="50"
            height="50"
          />
        </a>
        <div class="circle">
          <a href="/feeds/buckets?show=inprogress">
            <img
              src="../styles/images/bucket_icon_noBackground.png"
              alt="Bucket"
              width="60"
              height="60"
            />
          </a>
        </div>
        <a href="/feeds/buckets?show=completed">
          <img
            src="../styles/images/note_icon_noBackground.png"
            alt="Notes"
            width="50"
            height="50"
          />
        </a>
        <a href="/profile/<%=user_id%>">
          <img
            src="../styles/images/profile_icon_noBackground2.png"
            alt="Profile"
            width="60"
            height="60"
          />
        </a>
      </div>
   </div>
  </div>
   <script>
    const searchBar = document.querySelector("#search-input");
    searchBar.innerHTML="";
    searchBar.addEventListener("input", (e) => {
      try {
        const value = e.target.value;
        const filterButtons = document.querySelectorAll("#tag-buttons a");
        const users = document.querySelectorAll(".card");
        filterButtons.forEach((button) => {
          users.forEach((user) => {
            const headerDiv = user.querySelector(".header");

            if (value.toUpperCase() === button.textContent.toUpperCase()) {
              button.classList.add("active");
            } else if (value.toUpperCase() === userName.toUpperCase()) {
              user.classList.add("active");
            } else {
              button.classList.remove("active");
              user.classList.remove("active");
            }
          });
        });
        searchBar.innerHTML = ""
      } catch (error) {
        console.log(error);
      }
    });
  </script>
  
</body>
</html>