<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style_search.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>


    <title>Explore 🔎</title>
</head>

<body>

    <div id="search-container">
        <form action="/search/" method="post">
            <div class="input-wrap">
                <input type="search" name="searchInput" id="search-input" placeholder="Search topics or people"/>
                <button id="search"><i class="fas fa-search"></i> Search</button>
              </div>              
        </form>
    </div>
    

    <h1>Filter</h1>
    <div id="tag-buttons">
        <% tags.forEach(tag => { %>
            <a href="/search/tag/<%=tag.id%>" class="button-value"><%=tag.tagName%>
            <img src="<%=tag.imageUrl%>" alt="<%=tag.tagName%> Icon"> </a>
        <% }) %>
    </div>

   <h2>Your Followers</h2>

   <div id="user-cards" data-user-card-container>
    <% data.forEach(following => { %>
        <div class="card">
            <img src="<%=following.profileImg %>" style="z-index: 0;  margin-top: 3vh;  width: 6.5vh; height: auto;"  class="user-picture"></a>
            <div class="header"><%=following.username%></div>
        </div>
    <% }) %>
    <div class="navbar">
        <a href="/feeds/home">
          <img
            src="../styles/images/home_icon_noBackground2.png"
            alt="Home"
            width="50"
            height="50"
          />
        </a>
        <a href="/search/">
          <img
            src="../styles/images/search_icon_noBackground2.png"
            alt="Search"
            width="50"
            height="50"
          />
        </a>
        <div class="circle">
          <a href="/feeds/buckets?show=inprogress">
            <img
              src="../styles/images/bucket_icon_noBackground.png"
              alt="Bucket"
              width="60"
              height="60"
            />
          </a>
        </div>
        <a href="/feeds/buckets?show=completed">
          <img
            src="../styles/images/note_icon_noBackground.png"
            alt="Notes"
            width="50"
            height="50"
          />
        </a>
        <a href="/profile/<%=user_id%>">
          <img
            src="../styles/images/profile_icon_noBackground2.png"
            alt="Profile"
            width="60"
            height="60"
          />
        </a>
      </div>
   </div>
   <script>
    const searchInput = document.querySelector("[data-search]");
  
    searchInput.addEventListener("input", (e) => {
      try {
        const value = e.target.value;
        const buttons = document.querySelectorAll("#tag-buttons a");
        const users = document.querySelectorAll(".card");
        buttons.forEach((button) => {
          users.forEach((user) => {
            const headerDiv = user.querySelector(".header");
            const userName = headerDiv.textContent;
  
            if (value.toUpperCase() === button.textContent.toUpperCase()) {
              button.classList.add("active");
            } else if (value.toUpperCase() === userName.toUpperCase()) {
              user.classList.add("active");
            } else {
              button.classList.remove("active");
              user.classList.remove("active");
            }
          });
        });
      } catch (error) {
        console.log(error);
      }
    });
  </script>
  
</body>
</html>