<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../styles/style_showBucket.css" rel="stylesheet" />
  <title>Your Bucket Progress 😉</title>
</head>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display&display=swap");

  .wrapper {
    /* max-width: 375px; limit the maximum width */
    height: 100vh;
    width: 100%;
    background: #fffefe;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* border-radius: 30px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    
  }

  .background-container {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-top: 5vh;
    padding-bottom: 5px;
    box-sizing: border-box;
    border-radius: 0 20px 20px;
    /* height: 37vh; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .arrow-left {
    position: absolute;
    top: 3vh;
    left: 3vh;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #8083ff;
    margin-bottom: 0;
    text-align: center;
  }

  .Create-Goal {
    display: block;
    margin: auto;
    background: #8083ff;
    border-radius: 2.5vh;
    border: none;
    padding: 1vh 1vh;
    font-size: 1rem;
    cursor: pointer;
    width: 19.3vh;
    font-family: "Open sans", sans-serif;
    color: #ffffff;
    font-size: 2vh;
    position: relative;
    bottom: 0;
    transform: translateX(-0%);
    /* centering horizontally */
  }

/* 
  .input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 10px;
  margin: 2vh auto;
} */


.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vh;
  margin: auto;
}

input[name="taskEntry"] {
  flex-grow: 1;
  padding: 1vh;
  border: 1px solid #8083ff;
  border-radius: 2.5vh;
  font-family: "Open sans", sans-serif;
  font-size: 2vh;
}

button#addTask {
  margin-left: 1vh;
  padding: 1vh 2vh;
  border: none;
  border-radius: 2.5vh;
  background-color: #8083ff;
  color: #ffffff;
  font-family: "Open sans", sans-serif;
  font-size: 2vh;
  cursor: pointer;

}
  ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}



button#addTask {
  margin-left: 2vh;
}
button#completeBucketlist {
  display: block;
  margin: 2vh auto;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vh;
  padding: 1.4vh;
  list-style-type: none;
  text-align: center;
}

progress{
  width: 35vh;
}
button:disabled {
  background-color: #a1a1a1 !important;
  cursor: default !important;
}
</style>

<body>
  <div class="wrapper">
    <div class="background-container">
      <button class="arrow-left" onclick="goBack()" style="z-index: 10px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="3vh" height="3vh">
          <path fill="#8083ff"
            d="M314.6,449.6L65.9,256l248.7-193.6c6.5-5.1,6.9-14.5,1.8-21s-14.5-6.9-21-1.8l-271.4,212c-3.7,2.9-5.7,7.4-5.7,12.1s2,9.2,5.7,12.1l271.4,212c2.8,2.2,6.2,3.3,9.6,3.3c3.4,0,6.7-1.1,9.6-3.3C321.1,464.1,321.1,454.7,314.6,449.6z" />
        </svg>
      </button>
      <h1>
        <%=bucket.title%>
      </h1>
      <div id = "bar"></div>
      <p>Start on <%=bucket.startDate%></p>
      <p>Finish by <%=bucket.dueDate%></p>
      </div>
          <br>
          <br>
          <h3> Daily Tasks </h3>
          <p> Get started on your daily tasks!</p>
          <div class = "daily-task-summary">
            <p id="completedTaskCount"><%= numOfCompleted %>/<%=bucket.Task.length%> Milestone Tasks Completed</p>
          </div>
          <div id = "task-list-div">
            <ul id = "task-list">
            </ul>
          </div>
        <div class="input-container">
          <input type="text" name="taskEntry" disabled="<%= bucket.completed %>" placeholder="Enter your milestone task">
          <button disabled="<%= bucket.completed %>" id="addTask">Add</button>
        </div>
          <div id="completeList">
            <button disabled="<%= bucket.completed %>" id="completeBucketlist" class="Create-Goal">Complete Bucketlist</button>
          </div>
        
    </div>

</body>
<script>

  //DOM SELECTORS:
  const AddTaskButton = document.querySelector("#addTask");
  const taskInput = document.querySelector('input[name="taskEntry"]');
  const taskListUL = document.querySelector("#task-list");
  const barDiv = document.querySelector("#bar");

  const pathArr = window.location.pathname.split("/");
  const bucketId = pathArr[pathArr.length - 1];
  const dailyTaskSummary = document.querySelector('.daily-task-summary');
  const milestoneTasksCompleted = dailyTaskSummary.querySelector('p').textContent;

  //FETCH POST AND GET FUNCTIONS: 
  const post = async (url, data) => {
    try {
      const res = await fetch(url, {
        body: JSON.stringify(data),
        method: "POST",
        headers: { "Content-Type": "application/json" },
      });
      return await res.json();
    } catch (error) {
      console.log(error);
      return { error: "An error occurred" };
    }
  };
  const get = async (url) => {
    try {
      const res = await fetch(url, {
        method: "GET",
        headers: { "Content-Type": "application/json" },
      });
      return await res.json();
    } catch (error) {
      console.log(error);
      return { error: "An error occurred" };
    }
  };

  function goBack() {
    window.history.back();
  }

  const updateDailyTaskSummary = (numOfCompleted, totalTasks) => {
    const completedTaskCount = document.querySelector("#completedTaskCount");
    const summaryText = `${numOfCompleted}/${totalTasks} Milestone Tasks Completed`;
    completedTaskCount.textContent = summaryText;
  };

  const createProgressBar = (numOfCompleted, taskLength) => {
  let progress = document.querySelector("#progressbar");
  if (!progress) {
    progress = document.createElement("progress");
    progress.id = "progressbar";
    barDiv.appendChild(progress);
  }
  progress.value = numOfCompleted;
  progress.max = taskLength;
  progress.textContent = `${(numOfCompleted / taskLength) * 100}%`;
};


const updateProgressBarAndSummary = () => {
  const checkboxesNodes = document.querySelectorAll('input[name="milestoneTask"]');
  const checkboxes = Array.from(checkboxesNodes);
  const numOfCompleted = checkboxes.filter((checkbox) => checkbox.checked).length;
  const taskLength = checkboxes.length;
  createProgressBar(numOfCompleted, taskLength);
  debugger;
  updateDailyTaskSummary(numOfCompleted, taskLength);
};
// createTaskElement
  const createTaskElement = (task) => {
    // debugger;
    const li = document.createElement("li");
    const label = document.createElement("label");
    const input = document.createElement("input");
    input.type = "checkbox";
    if (task.completed) {
      input.checked = true;
    }
    input.name = "milestoneTask";
    input.value = task.id;

    // Add event listener to checkbox
    input.addEventListener("change", async function (event) {
      const completed = event.target.checked == true;
      const taskId = event.target.value;
      const res = await post("/feeds/updateTask", { taskId, completed });
      updateProgressBarAndSummary();
      // location.reload();
      window.location.href = window.location.href;
    });

    label.appendChild(input);
    li.appendChild(label);
    label.appendChild(document.createTextNode(task.message));
    return li;
  };

  const clearTaskList = () => {
    taskListUL.innerHTML = "";
  };

  const clearTaskListAndUpdateSummary = () => {
    taskListUL.innerHTML = "";

  updateProgressBarAndSummary();
};


  const addTaskToList = (task) => {
    const taskElement = createTaskElement(task);
    taskListUL.appendChild(taskElement);
    updateProgressBarAndSummary();
  };

  const getTask = async () => {
    try {
      const res = await post("/feeds/getTask", { bucketId });
      const tasks = res.tasks;
      let numOfCompleted = 0;

      tasks.forEach((task) => {
        if (task.completed) {
          numOfCompleted++;
        }
      });

      const taskLength = res.tasks.length;

      clearTaskList();

      if (tasks.length > 0) {
        createProgressBar(numOfCompleted, taskLength);
        tasks.forEach((task) => {
          const taskElement = createTaskElement(task);
          taskListUL.appendChild(taskElement);
        });
      }
      taskInput.value = "";
    } catch (error) {
      console.log(error);
    }
  };

  getTask();

  document.querySelector("#completeBucketlist").addEventListener("click", async () => {
    const pathArr = window.location.pathname.split("/");
    const bucket_id = pathArr[pathArr.length - 1];

    const res = await fetch("/feeds/completeBuckets", { body: JSON.stringify({ bucket_id }), method: "POST", headers: { "Content-Type": "application/json"} });
    const { success } = await res.json();
    const completeList = document.querySelector("#completeList");
    completeList.innerHTML = `<a href="/feeds/buckets?show=completed">Return to Bucket List</a>`
  })

  AddTaskButton.addEventListener("click", async () => {
    if (taskInput.value) {
      const newTask = taskInput.value;
      const pathArr = window.location.pathname.split("/");
      const bucketId = pathArr[pathArr.length - 1];

      try {
        debugger;
        const response = await post("/feeds/addTask", { newTask, bucketId });
        if (response.success) {
          const task = {
            id: response.taskId,
            message: newTask,
            completed: false,
          };
          addTaskToList(task);
          // location.reload()
          // window.location.href = "https://google.ca";
        }
      } catch (error) {
        console.log(error);
      }
    } else {
      alert("Please enter a new task");
    }
    taskInput.value = "";
  });
</script>

</html>